.titulo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.titulo-texto {
    font-size: small;
    font-style: italic;
    color: #ccc;
}

.chart {
    
}

